
@{ Layout = "~/Views/Plantilla/Plantilla.cshtml";}
@{
    ViewBag.Title = "Inicio Libro";
}

 <link rel="stylesheet" href="~/Content/css/styleIndex.css">
<h1>La Esquina del Zorro</h1>
<div class="container">
    <div id="carousel">
        <figure>
            <img src="~/Content/imagenes/fotos/libreria1.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria2.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria3.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria4.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria5.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria6.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria7.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria8.jpg" alt=""></figure>
        <figure>
            <img src="~/Content/imagenes/fotos/libreria9.jpg" alt=""></figure>
    </div>
</div>

